textarea {
    resize: none;
  }

  .one {
    background-color: rebeccapurple;
    color: blue;
  }

  .pastHour{
    background-color: rgb(197, 207, 138);
    border-color: gray;
  }
  .presentHour {
    background-color: crimson;
    border-color: crimson;
  }
  .futureHour {
    background-color: rgb(90, 177, 90);
    border-color: rgb(41, 136, 41);
  }
  

  button {
    background-color: darkturquoise;
    border-radius: 0px 5px 5px 0px;
  }
  
  header {
    border-bottom-width: 10px;
    text-decoration-color: brown;
  }
  
  button {
    font-size: 22em;
  }